* {
  background-color: rgb(94 191 255);
  color: white;
  font-family: Lato, sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.column-one-third {
  width: calc(100% / 3);
  text-align: center;
  margin: 0;
}

.circle {
  margin: auto;
  display: flex;
  background-color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

img {
  background-color: white;
  width: 70px;
  height: 70px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: lightgray;
}
