h1 {
  font-family: "Brandon Grotesque", sans-serif;
  color: red;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 1px;
}

.container {
  max-width: 32%;
  margin: auto;
  font-size: xx-small;
  font-weight: 400;
}

label {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 10px;
  padding-left: 15px;
}

select {
  width: 100%;
  padding: 10px 0;
  background-color: gainsboro;
}

button {
  color: white;
  background-color: red;
  border-style: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 12px;
  float: right;
}
