button {
  font-size: 15px;
  padding: 15px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

thead {
  background-color: black;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
